* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --black: rgb(28, 28, 28);

    --white: rgb(220, 220, 220);
}

body {
    height: 3000px;
    /*  */

    .wellcome {

        .bg-layer {
            background-image: url("./resources/images/bg-mountains.webp");
        }

        .filter-layer {
            backdrop-filter: grayscale(0.6);
        }
    }

    .section-1 {
        top: 100vh;
        width: 100%;
        height: 140vh;
        background-color: rgb(from var(--white) r g b / 0.6);
        backdrop-filter: blur(10px);
    }
}

/* helper positions */
.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

/* helper sizes */
.maxVP {
    width: 100vw;
    height: 100vh;
}

.max {
    width: 100%;
    height: 100%;
}

.z1 {
    z-index: 1;
}

.z2 {
    z-index: 2;
}

/* helpers bg */
.bg-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}