@font-face {
    font-family: 'neuropol'; 
    src: url('./../fonts/neuropol.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Recomendado para que el texto cargue rápido */
}

@font-face {
    font-family: 'conthrax'; 
    src: url('./../fonts/Conthrax-SemiBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Recomendado para que el texto cargue rápido */
}