* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --black: rgb(28, 28, 28);

    --white: rgb(220, 220, 220);
}

body {
    height: 3000px;
    /*  */

    .wellcome {
        background-image: url("./../images/bg-mountains.webp");

        .filterLayer {
            backdrop-filter: grayscale(0.6);
        }

        .titlesLayer {
            width: fit-content;
            height: 300px;
/*             border: 1px solid red;
 */        }
    }
}

/* shared specifics */
.section {
    width: 100%;
    height: 140vh;
    padding: 10%;
}

.bg-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.horLimit {
    width: 100%;
    max-width: 1400px;
}

/* helper flex */
.FCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.FRow {
    display: flex;
}

.FSpaceB {
    justify-content: space-between;
}

/* helper positions */
.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

/* helper sizes */
.maxVP {
    width: 100vw;
    height: 100vh;
}

.max {
    width: 100%;
    height: 100%;
}

.z1 {
    z-index: 1;
}

.z2 {
    z-index: 2;
}